WarningComponent
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	pointer-events: all;


	
	transition: all 300ms ease-out;
	transform: scale( 1 );

	// When the element is created make it expand from nothing.
	&:intro {
		transform: scale( 0 );
	}

	// When the element is deleted make it double in size before being deleted.
	&:outro {
		transform: scale( 2 );
	}
	.body {
		z-index: 10;
		border: 1%;
		padding: 0.2%;
		border-color: black;
		height: 30%;
		width: 30%;
		background-color: rgb(255, 255, 32);

		p {
			padding: 0.1;
		}

	}
	.warningsign {
		z-index: 10;
		border-left: 1%;
		border-right: 1%;
		border-top: 1%;
		border-color: black;
		width: 30%;
		font-size: 30%;
		font-family: Verdana, Tahoma, sans-serif;
		font-style: bold;
		background-color: rgb(244, 255, 84);

		

		h1 {
			padding: 0.4%;
		}
	}
}