@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@{
	var conn = Network.OwnerConnection;
}
<root>
	@if(!IsProxy) {
		return;
	}
	<div class="name">@conn.DisplayName</div>
</root>

@code
{

	protected override void OnUpdate() {
		base.OnUpdate();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( IsProxy );
}
